.applications
{
  
border: 5px;
border-style: solid;
background-attachment: fixed;
margin: 10px;
background-image:url(../src/images/bg3.jpg)

  
}
.wu
{
  display: inline-block;
  border:5px;
  border-style: solid;
  margin: 20px;
  width: 400px;
  height: 480px;
  color: white;
  text-align: center;
  text-decoration: wheat;
  text-transform: uppercase;
  text-shadow: turquoise 3px 2px;

}
img
{
  width: 100px;
  height: 100px;
}